<!DOCTYPE html>
<html>
  <%- include('partials/head.ejs'); %>

  <body>
    <%- include('partials/navbar.ejs'); %>

    <div class="container m-4"></div>
    <h1><%= title %></h1>
    <p><%= subtitle %></p>
  </body>
</html>
